.usa-section {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media all and (min-width: 40em) {
  .usa-section {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.usa-section--light {
  background-color: #f0f0f0;
}

.usa-section--dark {
  background-color: #162e51;
  color: white;
}

.usa-section--dark h1,
.usa-section--dark h2,
.usa-section--dark h3,
.usa-section--dark h4,
.usa-section--dark h5,
.usa-section--dark h6 {
  color: #00bde3;
}

.usa-section--dark p {
  color: white;
}

.usa-section--dark a {
  color: #dfe1e2;
}

.usa-section--dark a:visited {
  color: #dfe1e2;
}

.usa-section--dark a:hover,
.usa-section--dark a:active {
  color: #f0f0f0;
}
