.usa-input-mask {
  display: block;
  position: relative;
}

.usa-input-mask--content {
  border: 1px solid transparent;
  color: #757575;
  display: block;
  left: 2px;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.usa-input-mask--content i {
  visibility: hidden;
}

@media (forced-colors: active) {
  .usa-input-mask--content i {
    color: ButtonText;
    font-style: normal;
    visibility: visible;
  }
}

@media (forced-colors: active) {
  .usa-input-mask--content {
    border: none;
  }
}
