.usa-input-prefix:has(+ input:disabled),
.usa-input-prefix:has(+ input[aria-disabled="true"]) {
  color: #454545;
  cursor: not-allowed;
  opacity: 1;
  background-color: #c9c9c9;
}

.usa-input-prefix:has(+ input:disabled):hover,
.usa-input-prefix:has(+ input:disabled):active,
.usa-input-prefix:has(+ input:disabled):focus,
.usa-input-prefix:has(+ input:disabled).usa-focus,
.usa-input-prefix:has(+ input[aria-disabled="true"]):hover,
.usa-input-prefix:has(+ input[aria-disabled="true"]):active,
.usa-input-prefix:has(+ input[aria-disabled="true"]):focus,
.usa-input-prefix:has(+ input[aria-disabled="true"]).usa-focus {
  color: #454545;
  background-color: #c9c9c9;
}

@media (forced-colors: active) {
  .usa-input-prefix:has(+ input:disabled),
  .usa-input-prefix:has(+ input[aria-disabled="true"]) {
    color: graytext;
    border: 0;
  }
  .usa-input-prefix:has(+ input:disabled):hover,
  .usa-input-prefix:has(+ input:disabled):active,
  .usa-input-prefix:has(+ input:disabled):focus,
  .usa-input-prefix:has(+ input:disabled).usa-focus,
  .usa-input-prefix:has(+ input[aria-disabled="true"]):hover,
  .usa-input-prefix:has(+ input[aria-disabled="true"]):active,
  .usa-input-prefix:has(+ input[aria-disabled="true"]):focus,
  .usa-input-prefix:has(+ input[aria-disabled="true"]).usa-focus {
    color: graytext;
  }
}

.usa-input-prefix,
.usa-input-suffix {
  color: #71767a;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  padding: 0 0.5rem;
  line-height: 0;
  position: absolute;
}

.usa-input-prefix .usa-icon,
.usa-input-suffix .usa-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.usa-input-prefix + input {
  padding-left: 2.5rem;
  padding-right: 0.5rem;
}
