.usa-list {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 3ch;
  line-height: 1.5;
}

.usa-list:last-child {
  margin-bottom: 0;
}

.usa-list ul,
.usa-list ol {
  margin-top: 0.25em;
}

.usa-list li {
  max-width: 68ex;
  margin-bottom: 0.25em;
}

.usa-list li:last-child {
  margin-bottom: 0;
}

.usa-list--unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.usa-list--unstyled > li {
  max-width: unset;
  margin-bottom: 0;
}
