.usa-section {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media all and (min-width: 40em) {
  .usa-section {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.usa-section--light {
  background-color: #f0f0f0;
}

.usa-section--dark {
  background-color: #162e51;
  color: #fff;
}

.usa-section--dark p {
  color: #fff;
}

.usa-section--dark a,
.usa-section--dark a:visited {
  color: #dfe1e2;
}

.usa-section--dark a:active,
.usa-section--dark a:hover {
  color: #f0f0f0;
}
