.usa-show-password {
  color: #005ea2;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: 400;
  justify-content: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  width: auto;
  cursor: pointer;
}

.usa-show-password:visited {
  color: #54278f;
}

.usa-show-password:hover {
  color: #1a4480;
}

.usa-show-password:active {
  color: #162e51;
}

.usa-show-password:focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
}

.usa-show-password.usa-button--active,
.usa-show-password.usa-button--disabled,
.usa-show-password.usa-button--hover,
.usa-show-password:active,
.usa-show-password:disabled,
.usa-show-password:disabled.usa-button--active,
.usa-show-password:disabled.usa-button--hover,
.usa-show-password:disabled.usa-focus,
.usa-show-password:disabled:active,
.usa-show-password:disabled:focus,
.usa-show-password:disabled:hover,
.usa-show-password:hover,
.usa-show-password[aria-disabled="true"],
.usa-show-password[aria-disabled="true"].usa-button--active,
.usa-show-password[aria-disabled="true"].usa-button--hover,
.usa-show-password[aria-disabled="true"].usa-focus,
.usa-show-password[aria-disabled="true"]:active,
.usa-show-password[aria-disabled="true"]:focus,
.usa-show-password[aria-disabled="true"]:hover {
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
}

.usa-show-password.usa-button--hover {
  color: #1a4480;
}

.usa-show-password.usa-button--active {
  color: #162e51;
}

.usa-show-password:disabled,
.usa-show-password:disabled:hover,
.usa-show-password[aria-disabled="true"],
.usa-show-password[aria-disabled="true"]:focus,
.usa-show-password[aria-disabled="true"]:hover {
  color: #757575;
}

@media (forced-colors: active) {
  .usa-show-password:disabled,
  .usa-show-password:disabled:hover,
  .usa-show-password[aria-disabled="true"],
  .usa-show-password[aria-disabled="true"]:focus,
  .usa-show-password[aria-disabled="true"]:hover {
    color: GrayText;
  }
}
