.usa-graphic-list {
  font-size: 1.06rem;
  line-height: 1.5;
}

.usa-graphic-list .usa-graphic-list__row .usa-media-block {
  margin-bottom: 2rem;
}

@media all and (min-width: 40em) {
  .usa-graphic-list .usa-graphic-list__row .usa-media-block {
    margin-bottom: 4rem;
  }
  .usa-graphic-list .usa-graphic-list__row:last-child .usa-media-block {
    margin-bottom: 0;
  }
}

.usa-graphic-list .usa-media-block__img {
  margin-right: 1.5rem;
}

.usa-graphic-list .usa-media-block__body > :first-child {
  margin-top: 0;
}

.usa-graphic-list__heading {
  margin-bottom: 0;
  margin-top: 0;
  clear: both;
  font-family:
    Merriweather Web,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
  font-size: 1.34rem;
  line-height: 1.2;
  font-weight: 700;
}

* + .usa-graphic-list__heading {
  margin-top: 1.5em;
}

.usa-graphic-list__heading + * {
  margin-top: 1em;
}
