.usa-skipnav {
  color: #005ea2;
  z-index: 100;
  background: 0 0;
  padding: 0.5rem 1rem;
  font-family:
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
  text-decoration: underline;
  transition: top 0.15s ease-in-out;
  position: absolute;
  top: -3.8rem;
  left: 0;
}

.usa-skipnav:visited {
  color: #54278f;
}

.usa-skipnav:hover {
  color: #1a4480;
}

.usa-skipnav:active {
  color: #162e51;
}

.usa-skipnav:focus {
  outline-offset: 0rem;
  outline: 0.25rem solid #2491ff;
}

@media (prefers-reduced-motion) {
  .usa-skipnav {
    transition: none;
  }
}

.usa-skipnav:focus,
.usa-skipnav.usa-focus {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.usa-skipnav__container {
  position: relative;
}
