.usa-card {
  max-width: none;
  margin-bottom: 2.5rem;
}

.usa-card:last-child {
  margin-bottom: 2.5rem;
}

@media (width>=40em) {
  .usa-card,
  .usa-card:last-child {
    margin-bottom: 2rem;
  }
}

.usa-card__container {
  color: #1b1b1b;
  background-color: #fff;
  border: 2px solid #dfe1e2;
  border-radius: 0.5rem;
  flex-direction: column;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family:
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
  display: flex;
  position: relative;
}

.usa-card:not(.usa-card--flag) .usa-card__container > :only-child {
  padding: 1.5rem;
}

.usa-card .usa-card__img {
  display: block;
}

.usa-card__header {
  padding: 1.5rem 1.5rem 0.5rem;
}

.usa-card__header:last-child {
  padding-bottom: 1.5rem;
}

.usa-card__heading {
  margin: 0;
  font-family:
    Merriweather Web,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
  font-size: 1.34rem;
  line-height: 1.2;
}

.usa-card__media {
  order: -1;
  min-height: 1px;
}

.usa-card__img {
  background-color: #f0f0f0;
  border-top-left-radius: calc(0.5rem - 2px);
  border-top-right-radius: calc(0.5rem - 2px);
  position: relative;
  overflow: hidden;
}

.usa-card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.usa-card__media--inset {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.usa-card__media--inset .usa-card__img {
  border-radius: 0;
}

.usa-card__body {
  flex: auto;
  padding: 0.5rem 1.5rem;
}

.usa-card__body:last-child {
  padding-bottom: 1.5rem;
}

.usa-card__body:first-child {
  padding-top: 1.5rem;
}

.usa-card__body:only-child {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.usa-card__footer {
  padding: 0.5rem 1.5rem 1.5rem;
}

.usa-card__footer .usa-button:only-of-type {
  margin-right: 0;
}

.usa-card__header > :last-child,
.usa-card__body > :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.usa-card__header > :first-child,
.usa-card__body > :first-child {
  margin-top: 0;
  padding-top: 0;
}

.usa-card__header > :only-child,
.usa-card__body > :only-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.usa-card__header--exdent,
.usa-card__media--exdent,
.usa-card__body--exdent,
.usa-card__footer--exdent {
  margin-inline: -2px;
}

.usa-card__header--exdent > *,
.usa-card__body--exdent > *,
.usa-card__footer--exdent > * {
  padding-left: 2px;
  padding-right: 2px;
}

.usa-card__media--exdent {
  margin-top: -2px;
}

.usa-card__media--exdent .usa-card__img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.usa-card--header-first .usa-card__header {
  border-top-left-radius: calc(0.5rem - 2px);
  border-top-right-radius: calc(0.5rem - 2px);
  padding-bottom: 1rem;
}

.usa-card--header-first .usa-card__header--exdent {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: -2px;
}

.usa-card--header-first .usa-card__media--inset {
  padding-top: 0;
}

.usa-card--header-first .usa-card__media {
  order: 0;
}

.usa-card--header-first .usa-card__media--exdent {
  margin-top: 0;
}

.usa-card--header-first .usa-card__img {
  border-radius: 0;
}

.usa-card--header-first .usa-card__body {
  padding-top: 1rem;
}

@media (width>=40em) {
  .usa-card--flag .usa-card__media {
    width: 15rem;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .usa-card--flag .usa-card__img {
    border-radius: calc(0.5rem - 2px) 0 0 calc(0.5rem - 2px);
  }
  .usa-card--flag .usa-card__header,
  .usa-card--flag .usa-card__body,
  .usa-card--flag .usa-card__footer {
    margin-left: 15rem;
  }
  .usa-card--flag .usa-card__media--exdent {
    margin: -2px;
  }
  .usa-card--flag .usa-card__media--exdent .usa-card__img {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .usa-card--flag .usa-card__media--inset {
    padding-bottom: 1.5rem;
    padding-right: 0;
  }
  .usa-card--flag .usa-card__media--inset .usa-card__img {
    border-radius: 0;
  }
  .usa-card--flag.usa-card--header-first .usa-card__header {
    padding-bottom: 0.5rem;
  }
  .usa-card--flag.usa-card--header-first .usa-card__body {
    padding-top: 0.5rem;
  }
  .usa-card--flag.usa-card--header-first .usa-card__media--inset {
    padding-top: 1.5rem;
  }
  .usa-card--flag.usa-card--media-right .usa-card__media {
    left: auto;
    right: 0;
  }
  .usa-card--flag.usa-card--media-right .usa-card__media--inset {
    padding-left: 0;
    padding-right: 1.5rem;
  }
  .usa-card--flag.usa-card--media-right .usa-card__media--inset .usa-card__img {
    border-radius: 0;
  }
  .usa-card--flag.usa-card--media-right .usa-card__header,
  .usa-card--flag.usa-card--media-right .usa-card__body,
  .usa-card--flag.usa-card--media-right .usa-card__footer {
    margin-left: 0;
    margin-right: 15rem;
  }
  .usa-card--flag.usa-card--media-right .usa-card__img {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.usa-card:not(.usa-card--flag).usa-card__media--set-aspect {
  box-sizing: border-box;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

@supports (aspect-ratio: 1) {
  .usa-card:not(.usa-card--flag).usa-card__media--set-aspect {
    height: inherit;
    padding: inherit;
    aspect-ratio: 1.77778;
    max-width: 100%;
  }
  .usa-card:not(.usa-card--flag).usa-card__media--set-aspect > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  img.usa-card:not(.usa-card--flag).usa-card__media--set-aspect,
  .usa-card:not(.usa-card--flag).usa-card__media--set-aspect > img {
    object-fit: cover;
  }
}

.usa-card:not(.usa-card--flag).usa-card__media--set-aspect .usa-card__img {
  position: absolute;
  inset: 0;
}
