.usa-megamenu .usa-col {
  flex: auto;
}

@media (width >= 64em) {
  .usa-megamenu .usa-col {
    flex: 4;
  }

  .usa-megamenu .usa-col .usa-nav__submenu-item a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .usa-megamenu .usa-col:first-child .usa-nav__submenu-item a {
    padding-left: 0;
  }

  .usa-megamenu .usa-col:last-child .usa-nav__submenu-item a {
    padding-right: 0;
  }

  .usa-megamenu.usa-nav__submenu {
    width: auto;
    padding: 2rem 0;
    left: -33%;
    right: 0;
  }

  .usa-megamenu.usa-nav__submenu:before {
    content: "";
    background-color: #162e51;
    width: calc(50vw - 30rem);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
  }

  .usa-megamenu.usa-nav__submenu:after {
    content: "";
    background-color: #162e51;
    width: calc(50vw - 30rem);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
  }

  .usa-header--extended .usa-megamenu.usa-nav__submenu:before,
  .usa-header--extended .usa-megamenu.usa-nav__submenu:after {
    content: "";
    background-color: #162e51;
    width: calc(50vw - 32rem);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .usa-nav-container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .usa-nav-container:after {
    clear: both;
    content: "";
    display: block;
  }
}
