.usa-input-group {
  align-items: center;
  display: flex;
  padding: 0;
  position: relative;
}

.usa-input-group--error input:focus,
.usa-input-group--success input:focus {
  outline-offset: 0.25rem;
}

.usa-input-group--error {
  border-width: 0.25rem;
  border-color: #b50909;
  border-style: solid;
}

.usa-input-group--success {
  border-width: 0.25rem;
  border-color: #00a91c;
  border-style: solid;
}

.usa-input-group input {
  padding-right: 2.5rem;
  border: 0;
  height: 100%;
  margin-top: 0;
  min-width: 0;
  width: 100%;
}

.usa-input-group input:disabled + .usa-input-suffix,
.usa-input-group input[aria-disabled="true"] + .usa-input-suffix {
  color: #454545;
  background-color: #c9c9c9;
  cursor: not-allowed;
  opacity: 1;
}

.usa-input-group input:disabled + .usa-input-suffix:hover,
.usa-input-group input:disabled + .usa-input-suffix:active,
.usa-input-group input:disabled + .usa-input-suffix:focus,
.usa-input-group input:disabled + .usa-input-suffix.usa-focus,
.usa-input-group input[aria-disabled="true"] + .usa-input-suffix:hover,
.usa-input-group input[aria-disabled="true"] + .usa-input-suffix:active,
.usa-input-group input[aria-disabled="true"] + .usa-input-suffix:focus,
.usa-input-group input[aria-disabled="true"] + .usa-input-suffix.usa-focus {
  color: #454545;
  background-color: #c9c9c9;
}

@media (forced-colors: active) {
  .usa-input-group input:disabled + .usa-input-suffix,
  .usa-input-group input[aria-disabled="true"] + .usa-input-suffix {
    border: 0;
    color: GrayText;
  }
  .usa-input-group input:disabled + .usa-input-suffix:hover,
  .usa-input-group input:disabled + .usa-input-suffix:active,
  .usa-input-group input:disabled + .usa-input-suffix:focus,
  .usa-input-group input:disabled + .usa-input-suffix.usa-focus,
  .usa-input-group input[aria-disabled="true"] + .usa-input-suffix:hover,
  .usa-input-group input[aria-disabled="true"] + .usa-input-suffix:active,
  .usa-input-group input[aria-disabled="true"] + .usa-input-suffix:focus,
  .usa-input-group input[aria-disabled="true"] + .usa-input-suffix.usa-focus {
    color: GrayText;
  }
}

@media (forced-colors: active) {
  .usa-input-group input:disabled,
  .usa-input-group input[aria-disabled="true"] {
    border: 0;
  }
}

@media (forced-colors: active) {
  .usa-input-group:has(input:disabled),
  .usa-input-group:has(input[aria-disabled="true"]) {
    border: 2px solid GrayText;
  }
}

.usa-input-group--2xs,
.usa-form .usa-input-group--2xs {
  max-width: 5ex;
}

.usa-input-group--xs,
.usa-form .usa-input-group--xs {
  max-width: 9ex;
}

.usa-input-group--sm,
.usa-form .usa-input-group--sm {
  max-width: 13ex;
}

.usa-input-group--small,
.usa-form .usa-input-group--small {
  max-width: 13ex;
}

.usa-input-group--md,
.usa-form .usa-input-group--md {
  max-width: 20ex;
}

.usa-input-group--medium,
.usa-form .usa-input-group--medium {
  max-width: 20ex;
}

.usa-input-group--lg,
.usa-form .usa-input-group--lg {
  max-width: 30ex;
}

.usa-input-group--xl,
.usa-form .usa-input-group--xl {
  max-width: 40ex;
}

.usa-input-group--2xl,
.usa-form .usa-input-group--2xl {
  max-width: 50ex;
}
