.usa-link:visited {
  color: #54278f;
}

.usa-link:hover {
  color: #1a4480;
}

.usa-link:active {
  color: #162e51;
}

.usa-link:focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
}

.usa-link--external,
.usa-link--external.usa-link--alt {
  display: inline;
}

.usa-link--external::before {
  position: absolute;
  left: -999em;
  right: auto;
  content: "External.";
}

.usa-link--external.usa-link--alt[target="_blank"]::before,
.usa-link--external[target="_blank"]::before {
  position: absolute;
  left: -999em;
  right: auto;
  content: "External, opens in a new tab.";
}

.usa-link--external::after {
  background-image: url(../img/usa-icons/launch.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.75ex 1.75ex;
  height: 1.75ex;
  width: 1.75ex;
  content: "";
  display: inline;
  margin-top: 0.7ex;
  margin-left: 2px;
  padding-left: 1.75ex;
  vertical-align: middle;
}

@supports ((-webkit-mask: url()) or (mask: url())) {
  .usa-link--external::after {
    background: 0 0;
    background-color: currentColor;
    -webkit-mask-image: url(../img/usa-icons/launch.svg),
      linear-gradient(transparent, transparent);
    mask-image: url(../img/usa-icons/launch.svg),
      linear-gradient(transparent, transparent);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 1.75ex 1.75ex;
    mask-size: 1.75ex 1.75ex;
  }
}

.usa-link--external.usa-link--alt::before {
  position: absolute;
  left: -999em;
  right: auto;
  content: "External.";
}

.usa-link--external.usa-link--alt::after {
  background-image: url(../img/usa-icons-bg/launch--white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.75ex 1.75ex;
  height: 1.75ex;
  width: 1.75ex;
  content: "";
  display: inline;
  margin-top: 0.7ex;
  margin-left: 2px;
  padding-left: 1.75ex;
  vertical-align: middle;
}

@supports ((-webkit-mask: url()) or (mask: url())) {
  .usa-link--external.usa-link--alt::after {
    background: 0 0;
    background-color: currentColor;
    -webkit-mask-image: url(../img/usa-icons/launch.svg),
      linear-gradient(transparent, transparent);
    mask-image: url(../img/usa-icons/launch.svg),
      linear-gradient(transparent, transparent);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 1.75ex 1.75ex;
    mask-size: 1.75ex 1.75ex;
  }
}
