.usa-form {
  font-family:
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
  font-size: 1.06rem;
  line-height: 1.3;
}

@media all and (min-width: 30em) {
  .usa-form {
    max-width: 20rem;
  }
}

.usa-form :where(.usa-input, .usa-textarea, .usa-select, .usa-range) {
  max-width: none;
}

.usa-form .usa-button {
  margin-top: 0.5rem;
}

@media all and (min-width: 30em) {
  .usa-form .usa-button {
    margin-top: 1.5rem;
  }
}

.usa-form a:where(:not(.usa-button)) {
  color: #005ea2;
  text-decoration: underline;
}

.usa-form a:where(:not(.usa-button)):visited {
  color: #54278f;
}

.usa-form a:where(:not(.usa-button)):hover {
  color: #1a4480;
}

.usa-form a:where(:not(.usa-button)):active {
  color: #162e51;
}

.usa-form a:where(:not(.usa-button)):focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
}

@media all and (min-width: 30em) {
  .usa-form--large {
    max-width: 30rem;
  }
}

.usa-form__note,
.usa-graphic-list,
.usa-show-password {
  font-family:
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
}

.usa-form__note,
.usa-show-password {
  font-size: 0.93rem;
  line-height: 1.3;
  float: right;
  margin: 0.25rem 0 1rem;
}

.usa-form .usa-input--2xs,
.usa-input--2xs {
  max-width: 5ex;
}

.usa-form .usa-input--xs,
.usa-input--xs {
  max-width: 9ex;
}

.usa-form .usa-input--sm,
.usa-form .usa-input--small,
.usa-input--sm,
.usa-input--small {
  max-width: 13ex;
}

.usa-form .usa-input--md,
.usa-form .usa-input--medium,
.usa-input--md,
.usa-input--medium {
  max-width: 20ex;
}

.usa-form .usa-input--lg,
.usa-input--lg {
  max-width: 30ex;
}

.usa-form .usa-input--xl,
.usa-input--xl {
  max-width: 40ex;
}

.usa-form .usa-input--2xl,
.usa-input--2xl {
  max-width: 50ex;
}

.usa-form .usa-input-group--2xs,
.usa-input-group--2xs {
  max-width: 5ex;
}

.usa-form .usa-input-group--xs,
.usa-input-group--xs {
  max-width: 9ex;
}

.usa-form .usa-input-group--sm,
.usa-form .usa-input-group--small,
.usa-input-group--sm,
.usa-input-group--small {
  max-width: 13ex;
}

.usa-form .usa-input-group--md,
.usa-form .usa-input-group--medium,
.usa-input-group--md,
.usa-input-group--medium {
  max-width: 20ex;
}

.usa-form .usa-input-group--lg,
.usa-input-group--lg {
  max-width: 30ex;
}

.usa-form .usa-input-group--xl,
.usa-input-group--xl {
  max-width: 40ex;
}

.usa-form .usa-input-group--2xl,
.usa-input-group--2xl {
  max-width: 50ex;
}
