.usa-sign-up {
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.usa-sign-up .usa-button,
.usa-sign-up .usa-label {
  margin-top: 0.75rem;
}

.usa-sign-up__heading {
  font-family:
    Merriweather Web,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
  font-size: 1.34rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}
