.usa-menu-btn {
  color: #fff;
  box-shadow: none;
  text-align: left;
  text-align: center;
  text-transform: uppercase;
  background-color: #005ea2;
  border: 0;
  border-radius: 0;
  flex: 0 auto;
  justify-content: normal;
  width: auto;
  height: 3rem;
  margin: 0;
  padding: 0 0.75rem;
  font-size: 0.87rem;
  font-weight: normal;
  text-decoration: none;
}

.usa-menu-btn:visited {
  color: #54278f;
}

.usa-menu-btn:hover {
  color: #1a4480;
}

.usa-menu-btn:focus {
  outline-offset: 0rem;
  outline: 0.25rem solid #2491ff;
}

.usa-menu-btn:hover,
.usa-menu-btn.usa-button--hover,
.usa-menu-btn:disabled:hover,
.usa-menu-btn[aria-disabled="true"]:hover,
.usa-menu-btn:disabled.usa-button--hover,
.usa-menu-btn[aria-disabled="true"].usa-button--hover,
.usa-menu-btn:active,
.usa-menu-btn.usa-button--active,
.usa-menu-btn:disabled:active,
.usa-menu-btn[aria-disabled="true"]:active,
.usa-menu-btn:disabled.usa-button--active,
.usa-menu-btn[aria-disabled="true"].usa-button--active,
.usa-menu-btn:disabled:focus,
.usa-menu-btn[aria-disabled="true"]:focus,
.usa-menu-btn:disabled.usa-focus,
.usa-menu-btn[aria-disabled="true"].usa-focus,
.usa-menu-btn:disabled,
.usa-menu-btn[aria-disabled="true"],
.usa-menu-btn.usa-button--disabled {
  box-shadow: none;
  background-color: #0000;
  text-decoration: underline;
}

.usa-menu-btn.usa-button--hover {
  color: #1a4480;
}

.usa-menu-btn.usa-button--active {
  color: #162e51;
}

.usa-menu-btn:disabled,
.usa-menu-btn[aria-disabled="true"],
.usa-menu-btn:disabled:hover,
.usa-menu-btn[aria-disabled="true"]:hover,
.usa-menu-btn[aria-disabled="true"]:focus {
  color: #757575;
}

@media (forced-colors: active) {
  .usa-menu-btn:disabled,
  .usa-menu-btn[aria-disabled="true"],
  .usa-menu-btn:disabled:hover,
  .usa-menu-btn[aria-disabled="true"]:hover,
  .usa-menu-btn[aria-disabled="true"]:focus {
    color: graytext;
  }
}

@media (width >= 64em) {
  .usa-menu-btn {
    display: none;
  }
}

.usa-menu-btn:hover {
  color: #fff;
  background-color: #1a4480;
  text-decoration: none;
}

.usa-menu-btn:active,
.usa-menu-btn:visited {
  color: #fff;
}
