.usa-intro {
  max-width: 88ex;
  font-family:
    Merriweather Web,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
  font-size: 1.34rem;
  font-weight: 400;
  line-height: 1.8;
}
